[submodule "rails"]
	path = rails
	url = git://github.com/relevance/emacs-rails.git
[submodule "org-mode"]
	path = org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "rinari"]
	path = rinari
	url = git://github.com/eschulte/rinari.git
