; loads emacs on rails
(load "~/.emacs.d/emacsonrails/emacsonrails-loader.el" 'noerror)


;disabes the emacs splash-screen
;(setq inhibit-splash-screen t)

;enables clipboard interaction with the X window system
;(setq x-select-enable-clipboard t)

;hides the menu bar
;(menu-bar-mode 0)

;hides the toolbar
;(tool-bar-mode 0)


